- content_for :title do
  About
#about_us
  %h1 About the Website
  %p We are EasyCredit team!
  %p We create credit system just for you!
  %p You can use all devices to access this site. It everywere looks great:
  .col-md-4
    %h3 On mobile:
    %img.img-rounded{:alt => "", :src => "https://pp.vk.me/c626330/v626330447/3fe47/JDpoOs403is.jpg"}
  .col-md-8
    %h3 On PC:
    %img.img-rounded{:alt => "", :src => "https://pp.vk.me/c626330/v626330447/3fe62/r7zQqbYfO6g.jpg"}
