- content_for :title do
  Contact
%br
%br
#about_us
  %h1 Need help? Want to join? Contact us!
  %img.img-responsive{:alt => "", :src => "http://www.counselingpsychology.org/wp-content/uploads/2014/04/contactus_21.jpg"}
  Email us:
  = mail_to "toffi2017@gmail.com"
  %p Good luck! :)
