- content_for :title do
  Credits

.container
  .row
    .col-md-8
      %h1.page-header
        Credits
        %small Take it easy!
      - @credits.each do |credit|
        %h2= link_to h(credit.name), credit
        %p= credit.description
